*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccd5ae;
}
h1{
    background-color: darkslategrey;
    color: beige;
    height: 80px;
    line-height: 80px;
}
.choice{
    height: 158px;
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    font-size: 20px;
    font-weight: 700;
}

#user-score , #comp-score{
    font-size: 38px;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}